body {
	font: 13px Verdana, Arial, Helvetica, sans-serif;
	background-color: #000;
	color: rgb(243,208,10);
	margin: 0px;
	padding: 20px 10px 0px;
}
.textfield {
	font-size: 13px;
	color: #333333;
	background: #F7F7F7;
	border: 1px solid #CCCCCC;
	padding-left: 1px;
}
h1 {
	color: rgb(243,208,10);
	margin: 50px 0px 5px;
	font: bold 40px Verdana, Arial, Helvetica, sans-serif;
}
a {
	color:  rgb(243,208,10);
	font-size: 13px;
}
a:hover {
	color: #99CC00;
}
.err {
	color: #FF9900;
}
th {
	font-weight: bold;
	text-align: left;
}
